{% extends 'common_css.html'%}
{% block content %}
<!--{{ food.attribute_name }}-->
<!--This is how you can display data you are given from views.py-->
<h1>{{ food.english_name }}</h1>
{{ message }}
{% if user.is_authenticated %}
<form action="{% url 'relation:add-favorite-food' pk=food.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-sm btn-outline-secondary">Favorite</button>
</form>
{% else %}
<h4>Log in to add this to your favorites!</h4>
{% endif %}
{{ food.original_name }}
{{ food.description }}

{% endblock %}