{% extends 'common_css.html' %}
{% block content %}

<div>
    <form action="{% url 'user:user-create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="name" id="Username" name="name" placeholder="Your Name"><br><br>
        <!-- Email: -->
        <label for="Email">Email</label>
        <input type="email" id="Email" name="email" placeholder="Your Email Id"><br><br>
        <!-- Password: -->
        <label for="Password">Password</label>
        <input type="password" id="Password" name="pass" placeholder="Password"><br><br>
        <!-- RepeatPassword: -->
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" name="pass-repeat" placeholder=" Repeat Password"><br><br>
        <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>
        <input type="submit" value="SignUp"><br><br>
    </form>
</div>
{% endblock %}