{% load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <div class="container">
			<a href="{% url 'food:main' %}" class="navbar-brand">Foodie Search</a>
			<div class="">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'user:login' %}">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'user:user-create' %}">Signup</a>
					</li>
					<li class="nav-item"></li>
				</ul>
				</div>
		</div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>